:root {
    --box-border: lightgray;
    
}

hr { 
    border: 0; 
    border-top: 1px solid lightgray; 
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.name { 
    font-size: 1.5em; 
    font-weight: bold; 
}

.id { 
    font-size: 0.75em; 
    color: gray;
    text-transform: uppercase; 
}

.value {  }

